 main figure.captioned-image {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin: 1rem 0;
 }

 main figure.captioned-image picture {
     display: block;
 }

 main figure.captioned-image img {
     display: block;
     margin-inline: auto;
 }

 main figure.captioned-image figcaption {
     margin-top: 0.5rem;
     color: var(--sl-color-gray-3);
     font-size: 0.875rem;
     text-align: center;
 }